---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import SobreNosotros from '../components/SobreNosotros.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero/>
		<SobreNosotros/>
	</main>
</Layout>

<style>

.fuente1{
	font-family: var(--font-family-cormorant);
}


.fuente2 {
	font-family: var(--font-family-inter);
}
	
</style>
