

<div class="contactoContainer">
    <h2 class="contactoTitle">Contacto</h2>
    <div class="contactoBox">
        <div class="infoBox">
            <h2>Direccion</h2>
            <p>Tegucigalpa, Centro Comercial Los Castaños, Bulevard Morazán</p>
            <h2>telefono</h2>
            <p>(+504) 9356-7734</p>
            <p>(+504) 9923-4247</p>
            <h2>Correo</h2>
            <a href="mailto:a.a.abogadosyconsultoreshn@gmail" target="_blank"> a.a.abogadosyconsultoreshn@gmail</a>
            <div class="iconsBox">
                <a href="https://www.facebook.com/share/et2CyCnr1J4FhKRp/"target="_blank">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#081c15"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
                </a>
                <a href="https://www.instagram.com/alejandros_legalfirm/profilecard/?igsh=cmozMGM5dzZzYmNp" target="_blank">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#081c15"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M16.5 7.5v.01" /></svg>
                </a>
                <a href="https://www.tiktok.com/@alejandros_legalfirm?_r=1&_d=eeaec7khhbefci&sec_uid=MS4wLjABAAAAwe3k63-llgWUcPa49Id3x9jVAsBlTpUULS0e1bTT9yhjbar10wpPHCGCFoI3UaDX&share_author_id=7129891991000810501&sharer_language=es&source=h5_m&u_code=e38094e89bcak7&timestamp=1729823476&user_id=7129891991000810501&sec_user_id=MS4wLjABAAAAwe3k63-llgWUcPa49Id3x9jVAsBlTpUULS0e1bTT9yhjbar10wpPHCGCFoI3UaDX&utm_source=copy&utm_campaign=client_share&utm_medium=android&share_iid=7427879448936285958&share_link_id=af9db740-b5c5-4cb3-8da6-6ad8fa8380ef&share_app_id=1233&ugbiz_name=ACCOUNT&ug_btm=b8727%2Cb0229&social_share_type=5&enable_checksum=1" target="_blank">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#081c15"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-tiktok"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z" /></svg>
                </a>
                <a href="https://wa.me/50493567734" target="_blank">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#081c15"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
                </a>
            </div>
        </div>
        <div class="box">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3869.607460777381!2d-87.19066353936957!3d14.100334475711694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f6fa2db93eac651%3A0x21d8ce7c46d179e5!2sCentro%20Comercial%20Los%20Casta%C3%B1os!5e0!3m2!1ses-419!2shn!4v1731558753544!5m2!1ses-419!2shn" width="752" height="563" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>


<style>

    .box{
        height: auto;
        width: auto;
    }

      .contactoContainer{
        height: 100vh;
        max-width: 100vw;
        padding: 0 4rem;
    }

    .contactoTitle{
        font-size: 3rem;
        font-family: var(--font-family-cormorant);
    }

  

    .contactoBox{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .infoBox{
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .infoBox > h2{
        font-family: var(--font-family-cormorant);
        font-size: 2.4rem;
        margin: 1rem 0;
    }

    .infoBox > p {
        font-family: var(--font-family-inter);
        font-size: 1.1rem;
        margin: 0.5rem 0;
    }

    .infoBox > a{
        font-family: var(--font-family-inter);
        font-size: 1.1rem;
        margin: 0.5rem 0;
        text-decoration: none;
        color: var(--black);
    }

    .iconsBox{
        margin: 1rem 0;
    }

    .iconsBox > a{
        text-decoration: none;
        margin: 0 1rem 0 0;
    }

    .icon{
        height: 30px;
        width: 30px;
    }

      /* media querys */
  /* Dispositivos móviles pequeños */
  @media (max-width: 576px) {
    .box{
        height: auto;
        width: 100%;
    }

    .contactoContainer{
        height: auto;
        max-width: 100vw;
        padding: 2rem 1rem;
    }

    .map{
        height: auto;
        width: 100%;
    }

    .contactoTitle{
        font-size: 3rem;
        text-align: center;
    }

    .contactoBox{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }

    .infoBox{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .infoBox > h2{
        font-family: var(--font-family-cormorant);
        font-size: 2.4rem;
        margin: 1rem 0;
    }

    .infoBox > p {
        font-size: 1.1rem;
        text-align: center;
    }

    .infoBox > a{
        font-size: 1.1rem;
        margin: 0.5rem 0;
        text-decoration: none;
    }

    .iconsBox{
        margin: 1rem 0;
    }

    .iconsBox > a{
        margin: 0 1rem 0 0;
    }

    .icon{
        height: 30px;
        width: 30px;
    }
  }

   /* Dispositivos móviles grandes (como teléfonos más anchos) */
   @media (min-width: 577px) and (max-width: 768px) {
    .box{
        height: auto;
        width: 100%;
    }

    .contactoContainer{
        height: auto;
        max-width: 100vw;
        padding: 2rem 1rem;
    }

    .map{
        height: auto;
        width: 100%;
    }

    .contactoTitle{
        font-size: 3.8rem;
        text-align: center;
    }

    .contactoBox{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }

    .infoBox{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .infoBox > h2{
        font-family: var(--font-family-cormorant);
        font-size: 2.4rem;
        margin: 1rem 0;
    }

    .infoBox > p {
        font-size: 1.1rem;
        text-align: center;
    }

    .infoBox > a{
        font-size: 1.1rem;
        margin: 0.5rem 0;
        text-decoration: none;
    }

    .iconsBox{
        margin: 1rem 0;
    }

    .iconsBox > a{
        margin: 0 1rem 0 0;
    }

    .icon{
        height: 30px;
        width: 30px;
    }
   }

   /* Dispositivos grandes (laptops/desktops) */
@media (min-width: 769px) and (max-width: 992px) {
    .box{
        height: auto;
        width: 100%;
    }

    .contactoContainer{
        height: auto;
        max-width: 100vw;
        padding: 2rem 1rem;
    }

    .map{
        height: auto;
        width: 100%;
    }

    .contactoTitle{
        font-size: 3rem;
        text-align: center;
    }

    .contactoBox{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }

    .infoBox{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .infoBox > h2{
        font-family: var(--font-family-cormorant);
        font-size: 2.4rem;
        margin: 1rem 0;
    }

    .infoBox > p {
        font-size: 1.1rem;
        text-align: center;
    }

    .infoBox > a{
        font-size: 1.1rem;
        margin: 0.5rem 0;
        text-decoration: none;
    }

    .iconsBox{
        margin: 1rem 0;
    }

    .iconsBox > a{
        margin: 0 1rem 0 0;
    }

    .icon{
        height: 30px;
        width: 30px;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .box{
        height: auto;
        width: 100%;
    }

    .contactoContainer{
        height: auto;
        max-width: 100vw;
        padding: 2rem 1rem;
    }

    .map{
        height: auto;
        width: 100%;
    }

    .contactoTitle{
        font-size: 3rem;
        text-align: center;
    }

    .contactoBox{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }

    .infoBox{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .infoBox > h2{
        font-family: var(--font-family-cormorant);
        font-size: 2.4rem;
        margin: 1rem 0;
    }

    .infoBox > p {
        font-size: 1.1rem;
        text-align: center;
    }

    .infoBox > a{
        font-size: 1.1rem;
        margin: 0.5rem 0;
        text-decoration: none;
    }

    .iconsBox{
        margin: 1rem 0;
    }

    .iconsBox > a{
        margin: 0 1rem 0 0;
    }

    .icon{
        height: 30px;
        width: 30px;
    }
}

</style>