---
---


<div class="nosotrosContainer">
    <div class="infoBox">
        <h3>Abogados y Consultores</h3>
        <p>Nos dedicamos a ofrecer servicios legales con integridad, experiencia y un enfoque centrado en el cliente. Nuestra prioridad es entender tus necesidades y brindarte soluciones claras y efectivas. Con un equipo altamente capacitado, abordamos cada caso con dedicación y profesionalismo, asegurando siempre los mejores resultados.</p>
    </div>
    <div class="imagenBox">
        <img class="imagenNosotros" src="/images/sobrenosotros.jpg" alt="imagensample"/>
    </div>
</div>



<style>

    .nosotrosContainer{
        height: 100vh;
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .infoBox{
        width: 50%;
        height: 100%;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .infoBox > h3{
        padding-top: 4rem;
        margin-bottom: 2rem;
        font-family: var(--font-family-cormorant);
        font-size: 3rem;
    }

    .infoBox > p {
        font-family: var(--font-family-inter);
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.7rem;
        width: 80%;
    }


    .imagenBox{
        width: 40%;
        height: 100%;
        background-color: orange;
    }

    .imagenNosotros{
        width: 100%;
        height: 100%;
    }

    .
</style>